* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: darkblue;
    font-family: 'Segoe UI', sans-serif;
    height:100vh;
    align-items: center;
    justify-content: center;
    margin:0;
    display: flex;
}
body {
  background: radial-gradient(#132743, #407088);
}

.container {
    max-width: 420px;
    width:100%;
    background:floralwhite;
    margin: 50px auto;
    border-radius: 24px;
    text-align: center;
    padding: 60px 70px;
    border-style: double;
    border-width: 7px;
    border-color: ghostwhite;
    height: 440px;
}

.border{
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

button{
    margin-top: 10px;
    padding: 10px 20px;
    border:none;
    cursor:pointer;
    background:slategrey;
    color:white;
    border-radius:8px;
    trasition: background 0.3s ease;
}

button:hover {
    background: grey;

}
#overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#132743, #407088);;
    z-index: 1;

}
#Alert {
    display: none;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 25px 50px;
    box-shadow: 5px 5px 30px lightgrey;
    border-radius: 15px;
    z-index: 1;
    text-align: center;
}